.for_bg {
  background-color: #ccc;
  display: grid;
  place-items: center;
  .content {
    min-height: 400px;
    width: 100%;
    text-align: center;
    table {
      text-align: center;
      margin-left: 220px;
      margin-top: 140px;

      max-width: 1179px;
      border-radius: 12px;
      width: 100%;
    }
  }
}
